opencv-python
easyocr
numpy
pandas
spacy
dateparser
python-dateutil
networkx
python-dotenv
fastapi
uvicorn
python-multipart
aiofiles
neo4j
sqlalchemy
psycopg2-binary
alembic
upstash-redis

google-generativeai
